.navbar {
    margin-bottom: 0;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Signika', sans-serif;
    /* overflow: hidden; */
   
    font-weight: bold;
}

/* #navbar a { */
    /* float: left; */
    /* display: block; */
    /* color: #f2f2f2; */
    /* text-align: center; */
    /* padding: 14px; */
    /* text-decoration: none; */
  /* } */

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */

.bg-primary {
    background-color: #07889b!important;
    color: white;
}
.navbar-brand {
  font-size: 15px;
  opacity: .9;
}
