.navbar {
    margin-bottom: 0;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Signika', sans-serif;
    
}

.bg-primary {
    background-color: #19181A!important;
    color: white;
}