.jumbotron {
/* position: absolute;
width: 423px;
height: 278px;
left: -12px;
top: -24px; */

background-size: cover;
height: 225px;
width: 100%;

background: #17E9E0;
background-image: ('expenseApp.png');
border-radius: 30px;
/* border-radius: 30px; */
}

img {
    width: 60px;
    height: 70px;
}

#jumboHead {

/* position: absolute; */
/* width: 116px;
height: 27px;
left: 137px;
top: 148px; */

font-family: 'Share Tech Mono', monospace;
font-family: 'Signika', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 27px;


color: #19181A;

    
}