.primary-btn {
    margin-left: 40px;
    color: white;
    background-color: #FF9824;
}

#expenseList {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    text-align:left;
    display: inline;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

#expenseList h2, h3, p {
    float: left;
}

#expenseList h3 {
    margin-right: 10px;
}

#expenseList h2, h3 {
    padding-top: 25px;
}

#expenseList p {
    margin-left: 20px;
}

#expenseList button {
    margin-top: 0;
}


#expenseList h2 {
    margin-top: 0;
}

#expenseList p {
    margin-top: 0;

} 