.card {
    margin: 20px auto;
    max-width: 320px;
    /* background-color: #07889b; */
    opacity:.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #373737;    

}

.navBtn {
    background-color: black!important;
    border-color: black;
    padding: 15px 15px;
}

.expenseSum {
    color: white!important;
    margin-top: 30px;
    text-align: center;
    margin-left: 0;
}

/* h1 {
    font-weight: bold;
    padding-bottom: 15px;
} */

.sumDiv {
    margin: 20px auto;
    max-width: 320px;
    padding-top: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    background-color: #373737;
}

.card-text {
    float: none;
    text-align: center;
    padding-top: 10px;
}

