.primary-btn {
    margin-left: 40px;
}

.categoryDiv {
    margin-top: 5px;
    padding-left: 5px;
    text-align:left;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categoryDiv p {
    margin-top: 0;
    text-align: left;
}

.categoryDiv h3 {
    margin-left: 5px;
}

.categoryDiv h2 {
    margin-left: 5px;
    margin-top: 20px;
    float: right;
    padding-right: 10px;
    font-weight: bold;
    color: #FF9824;
}
