

  .Login form {
    margin: 20px auto;
    max-width: 320px;
    cursor:pointer;
  }

  button {
    background-color: #A64Ac9!important;
    color: white!important;
    font-weight: bold!important;
    border-color: #A64Ac9!important;
    margin-top: 20px;
    /* margin-bottom: 40px; */
  }

  p {
    margin-top: 60px;
    text-align: center;
  }

  a {
    color: white;
  }



@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }