

  .Login form {
    margin: 20px auto;
    max-width: 320px;
    cursor:pointer;
  }

  button {
    background-color: #e37222!important;
    color: white!important;
    font-weight: bold!important;
    border-color: #07889b!important;
    margin-top: 20px;
    /* margin-bottom: 40px; */
  }

  .logIn p {
    margin-top: 30px;
    text-align: center;
    float: none; 
  } 

  .logIn a {
    color: white;
    /* margin-left: 50px; */

  }



@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }